@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f9f9f9;
  color: #1c1c1c;
  line-height: 1.6;
}


button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

input, select {
  outline: none;
  font-family: 'Poppins', sans-serif;
}

